# ==========================
# Environment
# ==========================
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# ==========================
# Node
# ==========================
node_modules/
dist/
build/

# ==========================
# Go
# ==========================
*.exe
*.test
*.out
vendor/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db